
  <footer class="footer py-5">
    <div class="container">
      <div class="row align-items-center pb-5">
        <div class="col-md-4 text-center text-md-left">
          <img class="footer-logo" src="/img/buap-logo.png" alt="Logo" title="Buap" />
        </div>

        <div class="col-md-8">
          <ul class="footer-icon-social mb-0 mt-4 p-0 text-center text-md-right title-xs-small">
            <li class="list-inline-item pl-4"><a href="mailto:{{ site.email }}" target="_blank"><i class="fas fa-envelope"></i></a></li>
            <li class="list-inline-item pl-4"><a href="#" target="_blank"><i class="fab fa-facebook"></i></a></li>
            <li class="list-inline-item pl-4"><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
          </ul>
        </div>
      </div>

      <div class="row align-items-center border-top pt-5">
        <div class="col text-center">
          <p class="text-uppercase">&copy; 2018 {{ site.title }}</p>
        </div>
      </div>
    </div>
  </footer>
