// General

html, body {
    color: #000;
    font-family: $main-font, sans-serif;
    height: 100%;
    letter-spacing: 0.025rem;
}

body {
    overflow-x: hidden;
}

a, a:hover {
    text-decoration: none;
}

.mapouter {
    text-align: right;
    width: 500px;
    height: 500px;
}

.gmap_canvas {
    width: 500px;
    height: 500px;
    overflow:hidden;
    background: none !important;
}
