// General
body {
    font-family: $site-font, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.625;
    overflow-x: hidden;
}

// Google maps classes
.mapouter {
    text-align: right;
    width: 500px;
    height: 500px;
}

.gmap_canvas {
    width: 500px;
    height: 500px;
    overflow: hidden;
    background: none !important;
}
