// Variables

$site-font: "Poppins";
$link-color: #6b7570;
$icon-color: #26609b !important;

$text-primary: #212529;
$text-secondary: #868e96 !important;

$bg-light: #f8f9fa !important;
$bg-dark: #e0e4e7 !important;
