// Footer

.footer {
    background: #1E2125;
    padding: 80px 0 30px;

    .logo-buap {
        width: 130px;
        height: 130px;
    }

    .copyright {
        padding: 30px 0;

        p {
            margin: 0;
            padding: 0;
        }
    }
}
