// Footer

footer.footer {
    .footer-logo {
        width: 250px;
        height: 120px;
    }

    .footer-icon-social {
        font-size: 1.5rem !important;
        line-height: 2.25rem !important;
        position: relative;
        bottom: 10px;

        li {
            a {
                color: #666 !important;
            }
        }
    }
}
