// Footer

footer.footer {
    .footer-logo {
        width: 250px;
        height: 120px;
    }

    .footer-icon-social {
        font-size: 1.5rem !important;
        line-height: 2.25rem !important;
        position: relative;
        bottom: 10px;

        li {
            a {
                color: #666 !important;
            }

            .mail {
                &:hover {
                    color: $mail-link-color !important;
                }
            }

            .facebook {
                &:hover {
                    color: $fb-link-color !important;
                }
            }

            .twitter {
                &:hover {
                    color: $twitter-link-color !important;
                }
            }
        }
    }
}
