// Header

.header {
    background-color: #1d2024;
    width: 100%;
    margin-bottom: 0;
    padding: 10px;

    .title {
        font-family: 'Quicksand', sans-serif;
        font-size: 20px;
        color: #fff;
        margin: 0;
    }

    .main-logo {
        width: 100px;
        height: 100px;
    }

    .navbar {
        .navbar-toggler {
            margin-left: 5px;
            border: none;

            &:focus {
                outline: none;
            }
        }

        .navbar-brand {
            span {
                font-family: 'Quicksand', sans-serif;
            }
        }

        .nav {
            .nav-link {
                font-family: 'Quicksand', sans-serif;

                &:hover {
                    color: #088baf;
                }
            }
        }
    }
}
